* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --sidebar-bgcol: #1992d4;
  --sidebar-textcol: #ffffff;
  --searchbar-col: #e2e8f0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
}

.large-icon-text {
  font-size: 1.5rem;
}

.sidebar {
  background-color: var(--sidebar-bgcol);
  color: var(--sidebar-textcol);
  font-weight: 700;
  padding: 1em;
  display: flex;
  gap: 2em;
  flex-direction: column;
}

.sidebar-child {
  align-self: stretch;
}

.sidebar-grandchild {
  display: flex;
  align-items: center;
  gap: 1em;
}

.sidebar-grandchild + .sidebar-grandchild {
  margin-top: 1em;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
}

.header-one {
  padding: 2em 1em;
  display: flex;
  flex-direction: column-reverse;
  gap: 2em;
}

.container-95 {
  width: 95%;
  margin: 0 auto;
}

.right-icons {
  display: flex;
  align-items: center;
  gap: 2em;
}

.search {
  display: flex;
  gap: 1em;
  align-items: center;
}

#search-bar {
  width: clamp(210px, 50vw, 600px);
  border-radius: 50px;
  border-style: none;
  background-color: var(--searchbar-col);
  padding: 0.75em;
}

.profile-icon img {
  width: 100%;
  border-radius: 35px;
}

.profile-icon {
  width: 35px;
  height: 35px;
}

@media (min-width: 1000px) {
  .main-container {
    grid-template-columns: 1fr 4fr;
  }

  .search {
    align-items: flex-end;
  }
  .header-one {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .right-icons {
    flex-direction: row;
    align-items: center;
  }
  .sidebar {
    grid-column: 1 / 2;
    height: 100vh;
  }
}
